In [1]:
import pandas as pd
import numpy as np

# Pre-proceesing

In [2]:
col = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'martial_status', 'occupation', 
       'relationship', 'race', 'sex', 'captial_gain', 'captial_loss', 'hours_per_week', 'native_country', 'income']
train = pd.read_csv('adult.data.txt', header = None, names = col)
test = pd.read_csv('adult.test.txt', header = None, skiprows = 1, names = col)

In [3]:
train.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
martial_status    object
occupation        object
relationship      object
race              object
sex               object
captial_gain       int64
captial_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [4]:
cateCol = train.select_dtypes(include=['object']).columns
numCol = train.select_dtypes(include=['int64']).columns

In [5]:
# find missing values
train[train.isnull().any(axis=1)]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education_num, martial_status, occupation, relationship, race, sex, captial_gain, captial_loss, hours_per_week, native_country, income]
Index: []

In [6]:
pd.unique(train[cateCol].values.ravel())
# ? = missing value and there is a white space in the head of strings

array([' State-gov', ' Bachelors', ' Never-married', ' Adm-clerical',
       ' Not-in-family', ' White', ' Male', ' United-States', ' <=50K',
       ' Self-emp-not-inc', ' Married-civ-spouse', ' Exec-managerial',
       ' Husband', ' Private', ' HS-grad', ' Divorced',
       ' Handlers-cleaners', ' 11th', ' Black', ' Prof-specialty', ' Wife',
       ' Female', ' Cuba', ' Masters', ' 9th', ' Married-spouse-absent',
       ' Other-service', ' Jamaica', ' >50K', ' Some-college',
       ' Asian-Pac-Islander', ' India', ' Own-child', ' Assoc-acdm',
       ' Sales', ' Assoc-voc', ' Craft-repair', ' ?', ' 7th-8th',
       ' Transport-moving', ' Amer-Indian-Eskimo', ' Mexico',
       ' Farming-fishing', ' Machine-op-inspct', ' Unmarried',
       ' Doctorate', ' Separated', ' Federal-gov', ' Tech-support',
       ' Local-gov', ' South', ' Protective-serv', ' Puerto-Rico',
       ' Married-AF-spouse', ' Other', ' Prof-school', ' Honduras',
       ' Self-emp-inc', ' 5th-6th', ' Other-relative', ' 10th', ' England',
       ' Canada', ' Germany', ' Iran', ' Widowed', ' Philippines',
       ' 1st-4th', ' Italy', ' Poland', ' Preschool', ' Columbia',
       ' Cambodia', ' Thailand', ' Ecuador', ' Laos', ' Taiwan', ' Haiti',
       ' Portugal', ' 12th', ' Dominican-Republic', ' Armed-Forces',
       ' El-Salvador', ' France', ' Priv-house-serv', ' Guatemala',
       ' China', ' Japan', ' Yugoslavia', ' Peru',
       ' Outlying-US(Guam-USVI-etc)', ' Scotland', ' Trinadad&Tobago',
       ' Greece', ' Without-pay', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Never-worked', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [7]:
train[cateCol] = train[cateCol].apply(lambda x: x.str.strip(to_strip = None))
test[cateCol] = test[cateCol].apply(lambda x: x.str.strip(to_strip = None))
# remove white space before strings

In [8]:
train.replace('?', np.nan, inplace = True)
test.replace('?', np.nan, inplace = True)

In [9]:
print sum([True for idx,row in train.iterrows() if any(row.isnull())])*1.0/train.shape[0]
print sum([True for idx,row in test.iterrows() if any(row.isnull())])*1.0/test.shape[0]
# records with missing values do not account for large proportion, so remove them directly 

train = train.dropna()
test = test.dropna()

0.0736770983692
0.0749953934034

In [10]:
# check if has any category existing in test instand of train
set(pd.unique(test[cateCol].values.ravel())) - set(pd.unique(train[cateCol].values.ravel()))

{'<=50K.', '>50K.'}

In [11]:
# match income in test and train
test['income'] = test['income'].str.replace('.', '')

In [12]:
train[cateCol].apply(pd.Series.value_counts).T.stack()
# check duplicated category with typo - no duplications

workclass       Federal-gov                     943.0
                Local-gov                      2067.0
                Private                       22286.0
                Self-emp-inc                   1074.0
                Self-emp-not-inc               2499.0
                State-gov                      1279.0
                Without-pay                      14.0
education       10th                            820.0
                11th                           1048.0
                12th                            377.0
                1st-4th                         151.0
                5th-6th                         288.0
                7th-8th                         557.0
                9th                             455.0
                Assoc-acdm                     1008.0
                Assoc-voc                      1307.0
                Bachelors                      5044.0
                Doctorate                       375.0
                HS-grad                        9840.0
                Masters                        1627.0
                Preschool                        45.0
                Prof-school                     542.0
                Some-college                   6678.0
martial_status  Divorced                       4214.0
                Married-AF-spouse                21.0
                Married-civ-spouse            14065.0
                Married-spouse-absent           370.0
                Never-married                  9726.0
                Separated                       939.0
                Widowed                         827.0
                                               ...
native_country  Haiti                            42.0
                Holand-Netherlands                1.0
                Honduras                         12.0
                Hong                             19.0
                Hungary                          13.0
                India                           100.0
                Iran                             42.0
                Ireland                          24.0
                Italy                            68.0
                Jamaica                          80.0
                Japan                            59.0
                Laos                             17.0
                Mexico                          610.0
                Nicaragua                        33.0
                Outlying-US(Guam-USVI-etc)       14.0
                Peru                             30.0
                Philippines                     188.0
                Poland                           56.0
                Portugal                         34.0
                Puerto-Rico                     109.0
                Scotland                         11.0
                South                            71.0
                Taiwan                           42.0
                Thailand                         17.0
                Trinadad&Tobago                  18.0
                United-States                 27504.0
                Vietnam                          64.0
                Yugoslavia                       16.0
income          <=50K                         22654.0
                >50K                           7508.0
dtype: float64

In [13]:
# check duplicated rows 
train[train.duplicated(keep = 'first')].shape
# only 23 duplicated rows, it does not account for big proportion, and i am not sure the identical rows means a same person, 
# perhaps different person with same features, so after considering, these duplicates rows will be kept

(23, 15)

In [14]:
train.to_csv('train.csv')
test.to_csv('test.csv')